<%= link_to "Back to list", tasks_path, class: "back-list" %>
<div class="back edit">
    <h2>Edit task</h2>

    <%= form_for @task do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
        <div class="form=-buttons">
            <%= f.submit "Edit task" %>
        </div>
    <% end %>
</div>